@import "tailwindcss";

@theme {
    --breakpoint-sm: 0px;
    --breakpoint-md: 700px;
    --breakpoint-lg: 880px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1600px;
    --color-black: #121212;
    --color-background: #1F1F1F;
    --color-white: #ffffff;
    --color-gray: #A8A8A8;
    --color-darkgray: #4F4F4F;
    --color-lightgray: #CBCBCB;
    --color-red: #FF0000;

    --font-title: 'good-times', sans-serif;
    --font-body: 'Roboto', sans-serif;

    --padding-desktop : 80px;
    --padding-mobile : 20px;
    
}


@font-face {
    font-family: 'good-times', sans-serif;
    /* src: url('/fonts/Good-Times-Rg.otf') format('opentype'); */
    font-weight: 500;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'good-times', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'good-times', sans-serif;
    font-weight: 200;
    font-style: normal;
    display: swap;
}



@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto_SemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



body {
    font-family: var(--font-body);
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-title);
}

html {
    scroll-behavior: smooth;
}

.jump {
    white-space: pre-wrap;
}