---
import { frontmatter as home } from '../content/home.md';
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';


---

<Layout>
	<Header />
	<h1>Mes projets</h1>
</Layout>